.nodeCard {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border-radius: 4px;
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.nodeTitleCon {
    display: inline;
    padding: 6px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-radius: 4px;
    align-items: center;
    background-color: #b4efe6;
}

.nodeContent {
    padding: 12px;
}

.nodeCard.selected {
    border: 2px solid rgba(142, 142, 171, 255);
}